<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- URL Rewriting for IIS -->
        <rewrite>
            <rules>
                <!-- Redirect index.html to root -->
                <rule name="Redirect index.html to root" stopProcessing="true">
                    <match url="^index\.html$" />
                    <action type="Redirect" url="/" redirectType="Permanent" />
                </rule>

                <!-- Redirect mainBuilder.html to /cvbuilder -->
                <rule name="Redirect mainBuilder.html to cvbuilder" stopProcessing="true">
                    <match url="^mainBuilder\.html$" />
                    <action type="Redirect" url="/cvbuilder" redirectType="Permanent" />
                </rule>

                <!-- Serve index.html for root URL -->
                <rule name="Serve index.html for root" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>

                <!-- Serve mainBuilder.html for /cvbuilder -->
                <rule name="Serve mainBuilder.html for cvbuilder" stopProcessing="true">
                    <match url="^cvbuilder$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="mainBuilder.html" />
                </rule>
            </rules>
        </rewrite>

        <!-- Default document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>

        <!-- Static content compression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

        <!-- HTTP Response Headers for caching -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
